*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --light-blue:#6ecbf5;
    --purple:#c252e1;
    --darkblue:#2a2356;
    --lavender:#e0d9f6;
    --royal-blue:#586ae2;
    --white:white;
}
/* font{
    font-family: 'Bitter', serif;
font-family: 'Libre Baskerville', serif;
font-family: 'Lobster', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Tapestry', cursive;
font-family: 'Ubuntu', sans-serif;
} */
header{
    padding:1rem;
    display: flex;
    justify-content: space-between;
    top: 0;
    right: 0;
    left: 0;
    position: sticky;
    background-color: var(--white);
    box-shadow: 1px 1px 5px grey;
}
.logo{
    text-transform: capitalize;
    color: var(--darkblue);
    text-shadow: 1em 1em white;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    margin-left: 15rem;
}
.nav-btn{
    margin-right: 15em;
    margin-top: 0.8rem;
}
.free-btn{
    
    text-decoration: none;
    font-size: 1.3em;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    color: var(--royal-blue);
    border: 1px solid var(--royal-blue);
    padding: 0.5rem;
    border-radius: 3px;
    transition: all 0.5s ease-in-out;
}
.free-btn:hover{
    background-color: var(--lavender);
    transition: all 0.5s ease-in-out;
}
.home{
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 10rem 1rem 10rem;
    background-image: linear-gradient(to right, var(--royal-blue) 50%,var(--lavender),var(--purple));
}
.container{
    padding: 2rem;
    line-height: 2.5em;
    color: var(--white);
}
.container h1{
    line-height: 6rem;
    color:var(--white);
    font-family: 'Libre Baskerville', serif;
    letter-spacing: 2px;
    font-size: 3rem;
}
.container h4{
    font-size: 1.5rem;
    line-height: 4rem;
}
.container h3{
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: bold;
}
.container ul{
    list-style:none;
}
.container ul li::before{
    content: '✔';
}
.container ul li{
    font-size: 1.5rem;
    line-height: 4rem;
}
.aside-container{
   padding: 2rem;
   background-color: var(--white);
   margin: 7rem 8rem 0rem 0rem;
   border-radius: 3px;
   width: 25rem;
   line-height: 2rem;
   text-align: center;
}
.aside-container h2{
    font-family: 'Roboto', sans-serif;
    color: var(--darkblue);
    font-size: 2rem;
    text-transform: capitalize;
}
.aside-container p{
    color: var(--darkblue);
    font-size: 1.3rem;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.google, .email{
    text-decoration: none;
    border: 0.5rem solid white;
    box-shadow: 4px 6px 3px var(--lavender);
    border-radius: 0.5rem;
    padding: 0rem 1rem 0rem 1rem;
    line-height: 4rem;
    font-size: 1.1rem;
    color: var(--darkblue);
    font-family: 'Ubuntu', sans-serif;
    text-transform: capitalize;
}
#google{
    color:var(--purple);
    margin-right: 3px;
}

.aside-container h5{
    color: var(--darkblue);
    font-size: 2rem;
}
.character{
    background: -webkit-linear-gradient(var(--darkblue), var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
    text-transform: uppercase;
}
.why{
    padding: 4rem 10rem 4rem 10rem;
    display: flex;
    justify-content: space-evenly;
    line-height: 2rem;
    box-shadow: 2px 5px 4px var(--lavender);
}
.grid-section{
    width: 40rem;
    
}
.grid-section h1{
    margin: 1rem;
    line-height: 3rem;
    color: var(--darkblue);
    font-size: 2rem;
    text-transform: capitalize;
    letter-spacing:1px;
    text-align: center;
}
.grid{
    color: var(--darkblue);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
    text-align: left;
}
.about{
    padding: 4rem 10rem 4rem 10rem;
}
.slide1,.slide2, .slide3{
    display: flex;
    justify-content: space-evenly;
    margin: 2rem 0rem 2rem 0rem;
}
.active{
    visibility: hidden;
    margin-top: -30rem;
}

.content{
    line-height: 2rem;
    font-size: 1.2rem;
    color: var(--darkblue);
    margin: 10rem 2rem 0rem 2rem;
    font-family: 'Poppins', sans-serif;
}
.free{
    padding: 3rem 10rem 3rem 10rem;
    background-image: linear-gradient(to right, var(--royal-blue) 60%,var(--lavender),var(--purple));
}
.free-container{
    color: white;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    line-height: 4rem;
}
.getfree-btn{
    border-radius: 3px;
    color: black;
    background-color: var(--purple);
    border: hidden;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 1.5rem;
    padding: 0.5rem;
}
.trusted{
    color: var(--darkblue);
    padding: 3rem 15rem 3rem 15rem;
    text-align: center;
    text-transform: capitalize;
    font-size: 2rem;
    line-height: 3rem;
}
.summary{
    background-color: var(--lavender);
    padding: 2rem 5rem 2rem 5rem;
    color: var(--darkblue);
    text-transform:capitalize ;
}
.summary-container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(1, 1fr);
    line-height: 2rem;
  
}
.product{
    text-align: left;
    font-size: 1.3rem;
}
.product a{
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--darkblue);
    
}
.footer{
    background-color: var(--lavender);
    display:flex;
    padding: 2rem 5rem 2rem 5rem;
    justify-content: space-evenly;
    color: var(--darkblue);
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    font-size: 0.8rem;
}
.copywrite, .app{
    display: flex;
}
.copywrite h2{
    padding-left: 2rem;
}
.app{
    font-size: 2rem;
}
.social-app{
    margin-left: 1rem;
}
















@media(max-width:1300px){
    body{
        width: auto;
    }
   html{
    width: auto;
   }
   .home{
    padding: 0;
    margin: 0;
   }
   .why{
    margin: 0;
    padding: 1rem;
   }
   .why-image{
    margin: 0;
    padding: 0;
   }
   .about{
    margin: 0;
    padding: 0;

   }
   .summary{
    margin: 0;
    padding: auto;
   }
   .footer{
    margin: auto;
    padding: auto;
   }
   
}
@media(max-width:991px){
    body{
        width: auto;
    }
    html{
        font-size: 75%;
    }
    .why-image img{
        width: 25rem;
        margin: 0;
        padding: 0;
    }
    .slide1,.slide2, .slide3{
        margin: 0;
        padding: 0;
    }
    .content{
        width: 30rem;
        margin: auto;
        padding: auto;
    }
    

    .slide-img img{
        padding: 1rem;
        margin: 0;
        width: 40rem;
    }
}
@media(max-width:768px){
    body{
        width: auto;
    }
    header{
        display:flex;
        justify-content: space-between;
        padding: auto;
        margin: 0;
    }
    .nav-btn{
        margin-right: 0;
    }
    .logo{
        margin-left: 0;
    }
    .home{
        margin: 0;
        padding: 0;
        line-height: 1.5rem;
    }
    .container{
        padding: 1rem;
    }
    .aside-container{
        padding: 1rem;
        margin:10rem 1rem 0rem 0rem;
    }

}
@media(max-width:600px){
    body{
        width: auto;
    }
    html{
        font-size: 90%;
    }
    .home{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        margin:0rem;
    }
    .container{
        padding: 0;
        line-height: 1.5rem;
    }
    aside{
        align-self: center;
    }
    .aside-container{
        margin: 0;
        padding: 1rem;
        width: 30rem;
    }
    .why{
        margin: 0;
        padding: 1rem;
        display: flex;
        flex-direction: column;
    }
    .grid{
        display: flex;
        flex-direction: column;
    }
    .about{
        width: auto;
        padding: 1rem;
        margin: 0;
        text-align: center;
    }
    .active{
        visibility: visible;
        margin-top:30rem;
    }
    .slide1, .slide3{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        margin: 0;
        text-align: center;
    }
    .slide2{
        visibility: hidden;
        margin-top: -25rem;
    }
    .slide-img{
        padding: 0rem;
        margin: 0;
        width: 30rem;

    }
    .free{
        margin: 0;
        padding: 1rem;
    }
    .trusted{
        margin: 0;
        padding: 1rem;
        font-size: 1.5rem;
    }
    .summary{
        margin: 0;
        padding: 1rem;
    }
    .summary-container{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 1rem;
    }
    .atlas{
        font-size: 2rem;
        text-align: center;
    }
    .product{
        padding: 1rem;
        margin: 0;
    }
    .footer{
        margin: 0;
        padding: 1rem;
        display: flex;
        flex-direction: column;
    }
    .copywrite{
        display: flex;
        flex-direction: column;
    }
    .app{
        float:right;
        padding: 1rem;
        margin: 0;
        
    }
}